@import url('../styles/reset.css');


.cabecalho__menu-hamburguer {
    width: 25px;
    height: 25px;
    background-image: url('../img/Menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../img/Menu\ Aberto.svg") !important;
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1rem;
}



.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

/* checked - pseudo classe */
/* ~ combinador css / procura um outro elemento */
.container__botao:checked ~ .lista-menu{
    display: block;
} 

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.container__botao {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}


@media screen and (min-width: 1024px) {
    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--second-font);
        font-size: 1.9rem;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
        margin-left: .5em;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opoces__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opoces__botao {
        display: none;
    }

    .cabecalho {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .opoces__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: white;
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
    }
}

@media screen and (min-width: 1728px) {
    .cabecalho {
        padding: 0 2em;
    }

    .container__link {
        display: flex;
        align-items: center;
        color: var(--preto);
    }

    .opcoes {
        margin-right: auto;
        margin-left: 100px;
    }

    .container__texto {
        display: block;
    }
}

